# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env
.env.*

# Streamlit
.streamlit/secrets.toml

# Logs
*.log
logs/

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Terraform Variable Files
*.tfvars

# Kubernetes
kubeconfig.yaml

# Docker
*.tar

# Jenkins
jenkins_home/

# Prometheus / Grafana
grafana-data/
prometheus-data/

# AWS
*.pem
.aws/

# Build / Distribution
build/
dist/
*.egg-info/

# Testing
.coverage
htmlcov/
.pytest_cache/

# Misc
tmp/
temp/

documentation.pdf
documentation.md